---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/users/danielkcheung?client_id=<UNSPLASH_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      X-Version:
      - dbe48e18e9dead9663ea91fa4ec2da0a3cc09fda
      Content-Language:
      - en
      Etag:
      - W/"ed7cb75ce2c0af6d439068ba1e65d8da"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: "{\"id\":\"ZSNab2nc2ls\",\"updated_at\":\"2024-10-10T23:04:01Z\",\"username\":\"danielkcheung\",\"name\":\"Daniel
        K Cheung\",\"first_name\":\"Daniel\",\"last_name\":\"K Cheung\",\"twitter_username\":\"danielkcheung\",\"portfolio_url\":\"https://www.danielkcheung.com/about/\",\"bio\":\"SEO
        professional, schema markup consultant and avid educator\",\"location\":\"Sydney,
        NSW\",\"links\":{\"self\":\"https://api.unsplash.com/users/danielkcheung\",\"html\":\"https://unsplash.com/@danielkcheung\",\"photos\":\"https://api.unsplash.com/users/danielkcheung/photos\",\"likes\":\"https://api.unsplash.com/users/danielkcheung/likes\",\"portfolio\":\"https://api.unsplash.com/users/danielkcheung/portfolio\",\"following\":\"https://api.unsplash.com/users/danielkcheung/following\",\"followers\":\"https://api.unsplash.com/users/danielkcheung/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-fb-1467929753-02a75cc39300.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-fb-1467929753-02a75cc39300.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-fb-1467929753-02a75cc39300.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"danielkcheung\",\"total_collections\":1,\"total_likes\":9,\"total_photos\":98,\"total_promoted_photos\":26,\"total_illustrations\":0,\"total_promoted_illustrations\":0,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":\"danielkcheung\",\"portfolio_url\":\"https://www.danielkcheung.com/about/\",\"twitter_username\":\"danielkcheung\",\"paypal_email\":null},\"followed_by_user\":false,\"photos\":[{\"id\":\"cPF2nlWcMY4\",\"slug\":\"stormtrooper-minifigure-walking-on-the-sand-cPF2nlWcMY4\",\"created_at\":\"2016-08-29T08:05:30Z\",\"updated_at\":\"2024-12-01T01:14:36Z\",\"blur_hash\":\"LDN9:#oIWBI;~WWAM|xtE1S5M{nh\",\"asset_type\":\"photo\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3\\u0026q=85\\u0026fm=jpg\\u0026crop=entropy\\u0026cs=srgb\",\"regular\":\"https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3\\u0026q=80\\u0026fm=jpg\\u0026crop=entropy\\u0026cs=tinysrgb\\u0026w=1080\\u0026fit=max\",\"small\":\"https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3\\u0026q=80\\u0026fm=jpg\\u0026crop=entropy\\u0026cs=tinysrgb\\u0026w=400\\u0026fit=max\",\"thumb\":\"https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3\\u0026q=80\\u0026fm=jpg\\u0026crop=entropy\\u0026cs=tinysrgb\\u0026w=200\\u0026fit=max\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1472457897821-70d3819a0e24\"}},{\"id\":\"ZqqlOZyGG7g\",\"slug\":\"white-stormtroopers-minifig-ZqqlOZyGG7g\",\"created_at\":\"2016-08-29T08:06:37Z\",\"updated_at\":\"2024-12-02T20:15:58Z\",\"blur_hash\":\"LjN0n]~qWYt6t5%MRkRjt8Rjozt7\",\"asset_type\":\"photo\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1472457974886-0ebcd59440cc?ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1472457974886-0ebcd59440cc?i[...]
