---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/videos/search?query=The%20Beatles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc350a85337c02272a7c3dfbe1faa024"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19985'
      X-Ratelimit-Reset:
      - '1730841663'
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":15,"videos":[{"id":6627873,"width":4096,"height":2160,"duration":23,"full_res":null,"tags":[],"url":"https://www.pexels.com/video/person-putting-flower-on-vinyl-record-6627873/","image":"https://images.pexels.com/videos/6627873/pexels-photo-6627873.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=630\u0026w=1200","avg_color":null,"user":{"id":3798027,"name":"KoolShooters","url":"https://www.pexels.com/@koolshooters"},"video_files":[{"id":10112136,"quality":"uhd","file_type":"video/mp4","width":4096,"height":2160,"fps":25.0,"link":"https://videos.pexels.com/video-files/6627873/6627873-uhd_4096_2160_25fps.mp4","size":52459390},{"id":10112168,"quality":"sd","file_type":"video/mp4","width":426,"height":226,"fps":25.0,"link":"https://videos.pexels.com/video-files/6627873/6627873-sd_426_226_25fps.mp4","size":787784},{"id":10112198,"quality":"hd","file_type":"video/mp4","width":1366,"height":720,"fps":25.0,"link":"https://videos.pexels.com/video-files/6627873/6627873-hd_1366_720_25fps.mp4","size":5356065},{"id":10112224,"quality":"uhd","file_type":"video/mp4","width":2732,"height":1440,"fps":25.0,"link":"https://videos.pexels.com/video-files/6627873/6627873-uhd_2732_1440_25fps.mp4","size":21229528},{"id":10112250,"quality":"sd","file_type":"video/mp4","width":960,"height":506,"fps":25.0,"link":"https://videos.pexels.com/video-files/6627873/6627873-sd_960_506_25fps.mp4","size":2797328},{"id":10112280,"quality":"hd","file_type":"video/mp4","width":2048,"height":1080,"fps":25.0,"link":"https://videos.pexels.com/video-files/6627873/6627873-hd_2048_1080_25fps.mp4","size":11893640},{"id":10112329,"quality":"sd","file_type":"video/mp4","width":640,"height":338,"fps":25.0,"link":"https://videos.pexels.com/video-files/6627873/6627873-sd_640_338_25fps.mp4","size":1270868}],"video_pictures":[{"id":4818490,"nr":0,"picture":"https://images.pexels.com/videos/6627873/pictures/preview-0.jpg"},{"id":4818498,"nr":1,"picture":"https://images.pexels.com/videos/6627873/pictures/preview-1.jpg"},{"id":4818516,"nr":2,"picture":"https://images.pexels.com/videos/6627873/pictures/preview-2.jpg"},{"id":4818526,"nr":3,"picture":"https://images.pexels.com/videos/6627873/pictures/preview-3.jpg"},{"id":4818548,"nr":4,"picture":"https://images.pexels.com/videos/6627873/pictures/preview-4.jpg"},{"id":4818568,"nr":5,"picture":"https://i[...]
