---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&query=The%20Beatles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=61&query=The+Beatles>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&query=The+Beatles>;
        rel="next"
      X-Total:
      - '603'
      X-Per-Page:
      - '10'
      X-Version:
      - dbe48e18e9dead9663ea91fa4ec2da0a3cc09fda
      Content-Language:
      - en
      Etag:
      - W/"a8838b300b4b4a185b041f1caf21c042"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"total\":603,\"total_pages\":61,\"results\":[{\"id\":\"B7N0IjiIJYo\",\"slug\":\"white-and-black-lego-toy-B7N0IjiIJYo\",\"alternative_slugs\":{\"en\":\"white-and-black-lego-toy-B7N0IjiIJYo\",\"es\":\"juguete-lego-blanco-y-negro-B7N0IjiIJYo\",\"ja\":\"white-and-black-lego-toy-B7N0IjiIJYo\",\"fr\":\"white-and-black-lego-toy-B7N0IjiIJYo\",\"it\":\"white-and-black-lego-toy-B7N0IjiIJYo\",\"ko\":\"white-and-black-lego-toy-B7N0IjiIJYo\",\"de\":\"white-and-black-lego-toy-B7N0IjiIJYo\",\"pt\":\"white-and-black-lego-toy-B7N0IjiIJYo\"},\"created_at\":\"2020-03-28T03:28:57Z\",\"updated_at\":\"2024-12-02T18:31:51Z\",\"promoted_at\":\"2020-03-29T14:21:01Z\",\"width\":5852,\"height\":3901,\"color\":\"#8c8c8c\",\"blur_hash\":\"LUGSy0xtMcn#ENt7MwMx.Aayn#oe\",\"description\":\"Star
        Wars x Beatles x Abbey Rd\",\"alt_description\":\"white and black lego toy\",\"breadcrumbs\":[],\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1585366119957-e9730b6d0f60?ixid=M3w2NDYyMTJ8MHwxfHNlYXJjaHwxfHxUaGUlMjBCZWF0bGVzfGVufDB8fHx8MTczMzE4NDYxOHww\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1585366119957-e9730b6d0f60?crop=entropy\\u0026cs=srgb\\u0026fm=jpg\\u0026ixid=M3w2NDYyMTJ8MHwxfHNlYXJjaHwxfHxUaGUlMjBCZWF0bGVzfGVufDB8fHx8MTczMzE4NDYxOHww\\u0026ixlib=rb-4.0.3\\u0026q=85\",\"regular\":\"https://images.unsplash.com/photo-1585366119957-e9730b6d0f60?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=M3w2NDYyMTJ8MHwxfHNlYXJjaHwxfHxUaGUlMjBCZWF0bGVzfGVufDB8fHx8MTczMzE4NDYxOHww\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1585366119957-e9730b6d0f60?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=M3w2NDYyMTJ8MHwxfHNlYXJjaHwxfHxUaGUlMjBCZWF0bGVzfGVufDB8fHx8MTczMzE4NDYxOHww\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1585366119957-e9730b6d0f60?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=M3w2NDYyMTJ8MHwxfHNlYXJjaHwxfHxUaGUlMjBCZWF0bGVzfGVufDB8fHx8MTczMzE4NDYxOHww\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1585366119957-e9730b6d0f60\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/white-and-black-lego-toy-B7N0IjiIJYo\",\"html\":\"https://unsplash.com/photos/white-and-black-lego-toy-B7N0IjiIJYo\",\"download\":\"https://unsplash.com/photos/B7N0IjiIJYo/download?ixid=M3w2NDYyMTJ8MHwxfHNlYXJjaHwxfHxUaGUlMjBCZWF0bGVzfGVufDB8fHx8MTczMzE4NDYxOHww\",\"download_location\":\"https://api.unsplash.com/photos/B7N0IjiIJYo/download?ixid=M3w2NDYyMTJ8MHwxfHNlYXJjaHwxfHxUaGUlMjBCZWF0bGVzfGVufDB8fHx8MTczMzE4NDYxOHww\"},\"likes\":890,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{},\"asset_type\":\"photo\",\"user\":{\"id\":\"ZSNab2nc2ls\",\"updated_at\":\"2024-10-10T23:04:01Z\",\"username\":\"danielkcheung\",\"name\":\"Daniel
        K Cheung\",\"first_name\":\"Daniel\",\"last_name\":\"K Cheung\",\"twitter_username\":\"danielkcheung\",\"portfolio_url\":\"https://www.danielkcheung.com/about/\",\"bio\":\"SEO
        professional, schema markup consultant and avid educator\",\"location\":\"Sydney,
        NSW\",\"links\":{\"self\":\"https://api.unsplash.com/users/danielkcheung\",\"html\":\"https://unsplash.com/@danielkcheung\",\"photos\":\"https://api.unsplash.com/users/danielkcheung/photos\",\"likes\":\"https://api.unsplash.com/users/danielkcheung/likes\",\"portfolio\":\"https://api.unsplash.com/users/danielkcheung/portfolio\",\"following\":\"https://api.unsplash.com/users/danielkcheung/following\",\"followers\":\"https://api.unsplash.com/users/danielkcheung/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-fb-1467929753-02a75cc39300.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-fb-1467929753-02a75cc39300.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-fb-1467929753-02a75cc39300.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"danielkcheung\",\"total_collections\":1,\"total_likes\":9,\"total_photos\":98,\"total_promoted_photos\":26,\"total_illustrations\":0,\"total_promoted_illustrations\":0,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":\"danielkcheung\",\"portfolio_url\":\"https://www.danielkcheung.com/about/\",\"twitter_username\":\"danielkcheung\",\"paypal_email\":null}}},{\"id\":\"0j0CyLf7wbE\",\"slug\":\"nintendo-wii-super-mario-game-0j0CyLf7wbE\",\"alternative_slugs\":{\"en\":\"nintendo-wii-super-mario-game-0j0CyLf7wbE\",\"es\":\"juego-de-nintendo-wii-super-mario-0j0CyLf7wbE\",\"ja\":\"ニンテンドーwiiスーパーマリオゲーム-0j0CyLf7wbE\",\"fr\":\"jeu-nintendo-wii-super-mario-0j0CyLf7wbE\",\"it\":\"gioco-super-mario-per-nintendo-wii-0j0CyLf7wbE\",\"ko\":\"닌텐도-wii-슈퍼-마리오-게임-0j0CyLf7wbE\",\"de\":\"nintendo-wii-super-mario-spiel-0j0CyLf7wbE\",\"pt\":\"nintendo-wii-super-mari[...]
